<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="wiseMotto" class="pl.sda.spring.core.zad3.objects.WorkerMotto">
        <constructor-arg value="Ciężką pracą ludzie się bogacą"></constructor-arg>
    </bean>

    <bean id="hummer" class="pl.sda.spring.core.zad3.objects.Tool" scope="prototype">
        <constructor-arg name="weight" value="5"></constructor-arg>
        <constructor-arg name="name" value="Młoteczek"></constructor-arg>
    </bean>

    <bean id="worker" class="pl.sda.spring.core.zad3.objects.Worker" init-method="addDefaultTool">
        <property name="proffession" value="builder"></property>
        <property name="age" value="40"></property>
        <property name="motto" ref="wiseMotto"></property>
        <property name="tools">
            <list>
                <bean class="pl.sda.spring.core.zad3.objects.Tool" id="screwdriver">
                    <property name="name" value="śrubokręt"></property>
                    <property name="weight" value="1"></property>
                </bean>
                <ref bean="hummer" />
            </list>
        </property>
    </bean>

    <bean class="pl.sda.spring.core.zad3.objects.MyBeanPostProcessor"></bean>
</beans>